 @font-face {
        font-family: 'HKFont';
        src: url(TrajanProRegular.ttf) format('truetype')
    }
 @font-face {
        font-family: 'HKArrowFont';
        src: url(HollowKnight-Regular.ttf) format('truetype')
    }

 body {
    background-image: linear-gradient(110deg, rgb(0, 2, 3), rgb(2, 6, 14), rgb(9, 29, 68), rgb(2, 6, 14), rgb(1, 5, 10));
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 2;
}

body {
  opacity: 0;
  transition: opacity 2s ease-in;
}

body.loaded {
  opacity: 1;
}

#wholeScreen {
  opacity: 0;
  transition: opacity 2s ease-in;
}

body.loaded #wholeScreen {
  opacity: 1;
}